<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="initial-scale=1.0, width=device-width" />
  <title>IPL Teams</title>
  <link href="https://fonts.googleapis.com/css?family=Lato%7CRaleway" rel="stylesheet" />
  <link href="css/grid.css" rel="stylesheet" />
  <link href="css/main.css" rel="stylesheet" />
  <script src="https://unpkg.com/vue@3/dist/vue.global.prod.js"></script>
  <script type="module" src="js/main.js"></script>
</head>

<body>
  <div id="app">
    <h1>🏏 IPL Teams</h1>
    
    <div v-if="loadingList">Loading teams...</div>
    <div v-if="errorList">{{ errorList }}</div>

    <div class="team-list">
      <div class="card" v-for="team in teams" :key="team.id" @click="getTeamDetails(team.id)">
        <img :src="`images/${team.team_image}`" alt="Team Logo">
        <h2>{{ team.team_name }}</h2>
      </div>
    </div>

    <div v-if="loadingOwner">Loading owner info...</div>
    <div v-if="errorOwner">{{ errorOwner }}</div>

    <div v-if="owner" class="owner-details">
      <h2>{{ owner.owner_name }}</h2>
      <p>{{ owner.bio }}</p>
    </div>
  </div>
</body>
</html>
